@import '../../primaryStyles/variables.scss';

.container{
  display: flex;
  align-items: center;
  place-content: center;
  justify-items: center;
  padding-top: 100px;
  
  @media (max-width: 768px){
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 0px;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;

    .pic {
      width: 30vh;
      height: 62vh;
    }

    .text{
      width: 40vh;
      height: 45vh;
      margin-bottom: 5rem;
    }

    .text h2{
      text-align: center;
    }
  }
}

.pic{
  color: $light;
  font-family: $Cinzel;
  width: 25vh;
  height: 50vh;
  background-color:rgba($light, 0.17);
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  
  img{
    border: 1px solid $dark;
    margin-bottom: 2rem;
    display: block;
    max-width: 100%;
  }
  
  .name{
    font-weight: bold;
    font-size: 25px;
  }

  .addr {
    font-size: 15px;
  }

  .role{    
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.text{
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 40vh;
  padding-top: 2rem;
  padding-left: 50px;
  padding-right: 50px;
  color: $light;
  
  h2{
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    font-family: $Cinzel;
  }

  p {
    font-family: $IBMPlexMono;
    font-size: 15px;
  } 
}

