@import '../../primaryStyles/variables.scss';

.container{
  display: flex;
  align-items: center;
  place-content: center;
  justify-items: center;
  padding-top: 40px;
  
  @media (max-width: 768px){
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
    gap: 4rem;

    .pic {
      width: 30vh;
      height: 65vh;
    }

    .text{
      padding-left: 0px;
      padding-right: 0px;
      width: 40vh;
      height: 60vh;
    }

    .text h2{
      text-align: center;
    }
  }
}

.pic{
  color: $light;
  font-family: $Cinzel;
  width: 30vh;
  height: 65vh;
  background-color:rgba($light, 0.17);
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  
  img{
    border: 1px solid $dark;
    margin-bottom: 1.5rem;
    display: block;
    max-width: 100%;
  }
  
  .name{
    font-weight: bold;
    font-size: 25px;
  }

  .addr {
    font-size: 15px;
  }

  .role{    
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
    margin-bottom: 1rem;
  }
}

.text{
  align-items: center;
  justify-content: center;
  width: 60vh;
  height: 40vh;
  padding-left: 50px;
  //margin-bottom: 100px;
  color: $light;
  
  h2{
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    font-family: $Cinzel;
  }

  p {
    font-family: $IBMPlexMono;
    font-size: 15px;
  } 
}

