@import '../../primaryStyles/variables.scss';

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.hero{
  width: 100%;
  height: 100%;
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content{
  font-family: $Cinzel;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.3);
}

.myname {
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7rem;
}

.hi {
  cursor: default;
  font-size: 25px;
  color: $light;
}

.desc {
  cursor: default;
  color: $light;
  font-weight: normal;
  font-size: 17px;
}

.animation{
  cursor: default;
  font-weight: bold;
  font-size: 15px;
}

